/* Estilos para los formularios */
form {
    background-color: #FAFFFE; /* Color de fondo del formulario */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centra el formulario horizontalmente */
}

/* Estilo para los encabezados dentro del formulario */
form h3 {
    color: black; /* Color del texto del encabezado (cambiado a negro) */
    margin-bottom: 15px; /* Margen inferior */
    text-align: center; /* Centra el texto */
}

/* Estilos para los inputs y textarea */
form input[type="email"],
form input[type="text"],
form input[type="tel"],
form input[type="number"],
form input[type="date"],
form textarea,
form select {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio entre elementos */
    border: 1px solid #0097B2; /* Borde del campo */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding en el tamaño total */
}

/* Contenedor para los botones */
.button-container {
    margin-top: 20px; /* Margen superior */
}

/* Estilo para el botón de envío y cancelar */
form button {
    background-color: #0097B2; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    margin: 0 5px; /* Espacio horizontal entre botones */
}

/* Espacio debajo del botón "Eliminar Producto" */
form button[type="button"]:not(.add-detail) {
    margin-bottom: 10px; /* Espacio debajo del botón */

}

/* Estilo para el botón de cancelar */
form button[type="button"] {
    background-color: #D9534F; /* Color de fondo para el botón de cancelar */
}

form button[type="button"]:hover {
    background-color: #C9302C; /* Color de fondo al pasar el mouse para el botón de cancelar */
}

/* Estilo personalizado para el botón "Agregar Detalle" */
form button.add-detail {
    background-color: #4BA3C7; /* Azul intermedio que combina mejor */
    color: white; /* Color de texto blanco */
}

form button.add-detail:hover {
    background-color: #5AA59B; /* Verde azulado oscuro en hover */
}