.section-content {
    margin-top: 10px;
}

.section-content .sistema {
    background-color: #FAFFFE;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro de la sección */
}

.section-content .sistema h1 {
    padding: 10px 0 0 10px;
}

.section-content .sistema p {
    padding: 0 20px;
    line-height: 1.5;
    text-align: left;
    max-width: 800px;
}

.section-content .sistema p img {
    width: 240px;
    height: 200px;
    margin: 20px;
    border: 2px solid black;
    float: left;
    border-radius: 3em;
}

.section-content .modulos {
    display: grid;
    grid-template-columns: 1fr; /* Cambia la cuadrícula a una sola columna */
    width: 100%;
    gap: 20px; /* Añade espacio entre los artículos */
}

.section-content .modulos article {
    background: linear-gradient(#f8f7f5, #F3FFFE);
    text-align: left; /* Mantiene el texto alineado a la izquierda */
    padding: 15px;
    width: 100%; /* Asegura que los artículos ocupen el 100% del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.section-content .modulos article h4 {
    background-color: #0097B2;
    color: white;
    text-align: center;
    padding: 15px 0;
    height: 2.5em;
    font-size: 1.5rem; /* Tamaño de fuente para los subtítulos */
}

.section-content .modulos article p {
    padding: 0 20px;
    font-size: 1rem; /* Tamaño de fuente ajustable */
    line-height: 1.5;
}

.section-content .modulos article img {
    display: block; /* Asegura que la imagen se alinee como un bloque en línea */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 150px; /* Ancho de la imagen */
    border-radius: 2em; /* Bordes redondeados */
}